<div class="login-background"></div>
<main
  class="h-100 d-flex align-items-center justify-content-center d-fixed top-0 left-0"
>
  <form
    class="p-4 d-flex flex-column justify-content-center align-items-center bg-white rounded"
  >
    <div class="input-group flex-nowrap py-2" style="max-width: 300px">
      <span class="input-group-text" id="addon-wrapping">@</span>
      <input
        type="text"
        class="form-control"
        placeholder="Username"
        aria-label="Username"
        aria-describedby="addon-wrapping"
      />
    </div>
    <div class="input-group flex-nowrap" style="max-width: 300px">
      <span class="input-group-text" id="addon-wrapping">*</span>
      <input
        type="password"
        class="form-control"
        placeholder="Password"
        aria-label="Password"
        aria-describedby="addon-wrapping"
      />
    </div>
  </form>
</main>
