<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://argentinaprograma.inti.gob.ar/">
      <img
        src="assets/img/argentina-programa-logo.png"
        alt="Argentina Programa"
        width="30"
        height="24"
        class="d-inline-block bg-black"
      />
      <p class="d-inline-block ps-4 m-0 fw-semibold align-middle">
        Argentina Programa
      </p>
    </a>
    <div>
      <a
        class="mx-2 text-black text-decoration-none"
        href="https://www.linkedin.com/in/luciano-maidana-medernach-70547a239/"
      >
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a
        class="mx-2 text-black text-decoration-none"
        href="https://github.com/Luciano-medernach"
      >
        <i class="fa-brands fa-github"></i>
      </a>
      <a
        routerLink="/login"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="btn btn-dark ms-4"
        >Ingresar</a
      >
    </div>
  </div>
</nav>
