<section>
  <h3 class="mx-5">Habilidades</h3>
  <div class="row mx-5 pt-3">
    <div class="col text-center">
      <div class="progress-circle p-0 mx-auto">
        <div class="progress-circle bg-red quarter-half"></div>
        <div class="inner-circle bg-white fs-3 fw-semibold">75%</div>
      </div>
      <p class="mt-4 fs-4 fw-semibold">CSS</p>
    </div>
    <div class="col text-center">
      <div class="progress-circle p-0 mx-auto">
        <div class="progress-circle bg-yellow"></div>
        <div class="inner-circle bg-white fs-3 fw-semibold">100%</div>
      </div>
      <p class="mt-4 fs-4 fw-semibold">JS</p>
    </div>
  </div>
</section>
